# IDE
.vscode

# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# Rest test
rest

# App modules
app/*
!app/.gitkeep
!app/task/*
!app/modules.route.js
